{% extends 'base.html' %}


{% block content %}

<style>

.mdl-layout__content{

    width: 100vw;
    overflow-x: hidden;

}


.page-content{

width: 100vw;
    overflow: hidden;

}

pre{

    color: #52712d;
    font-size: 12px;
    line-height: 14px;
    overflow: scroll;

}


h3{

font-size: 25px;
    padding: 0px;
    margin: 0;

}

</style>

<div class="" style="margin: 15px; font-weight: lighter;">

<h3>Service List</h3>

<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">PID</th>
      <th>Service</th>
    </tr>
  </thead>
  <tbody>

{% for service in services %}

    <tr>
      <td class="mdl-data-table__cell--non-numeric">{{ service.pid }}</td>
      <td>{{ service.name }}</td>
    </tr>

{% endfor %}

  </tbody>
</table>

</div>

{% endblock %}

